span.category-badge-icon {
  display: inline-flex;
  align-self: center;
  .d-icon {
    opacity: 1;
    font-size: 1.3em;
  }
}

.categories .category h3,
.badge-wrapper .badge-category {
  display: inline-flex;
  .d-icon {
    margin-right: 5px;
    &:not(.d-icon-lock) {
      color: inherit;
    }
  }
}

.categories-list .category-box-heading h3,
.category-list .category h3 {
  .d-icon:not(.d-icon-lock) {
    color: inherit;
  }
  div {
    display: inline;
  }
  .category-icon-widget {
    vertical-align: baseline;
  }
}
