span.category-badge-icon {
  display: inline-flex;
  align-self: center;
  .d-icon {
    opacity: 1;
    font-size: 1.3em;
  }
}

.categories-list .category h3 .d-icon,
.badge-wrapper .badge-category .d-icon,
.select-kit .select-kit-header .selected-name .name .badge-wrapper .d-icon {
  margin-right: 5px;
  margin-left: 0px;
}

.badge-wrapper.bullet span.category-badge-icon .d-icon,
.categories-list .category .category-icon .d-icon {
  color: inherit;
}

.categories-list .category-box-heading h3 div {
  display: inline;
}

.subcategory .category-icon-widget {
  display: none;
}
