span.category-badge-icon {
  display: inline-flex;
  align-self: center;
  font-size: var(--font-up-2);
  &:hover {
    text-decoration: none;
  }
  .d-icon {
    opacity: 1;
    font-size: var(--font-0);
  }
}

.category-badge-icon__emoji {
  max-width: 1.25em;
  max-height: 1.25em;
}

span.category-badge-logo {
  img {
    max-width: 2.25em;
    max-height: 2.25em;
  }
  margin-right: 0.375em;
}

a.badge-wrapper {
  &:hover {
    .category-badge-icon {
      text-decoration: none;
    }
  }
}

.badge-wrapper .badge-category {
  align-items: center;
}

.badge-wrapper:not(.box) .badge-category {
  .category-badge-icon {
    margin-right: 5px;
    margin-left: 0px;
    .d-icon {
      margin-right: 0;
      color: var(--category-color);
    }
  }
}

.badge-wrapper.bullet span.category-badge-icon .d-icon,
.categories-list .category .category-icon .d-icon {
  color: var(--category-color);
}

.categories-list .category-box-heading h3 div {
  display: inline;
}

.subcategory .category-icon-widget {
  display: none;
}

.badge-wrapper.bullet,
.badge-wrapper.bar {
  .badge-category-parent-bg,
  .badge-category-bg {
    display: none;
  }
}
